<p id="notice"><%= notice %></p>
<h2>Vyhľadávanie</h2>

<% if @broadcasts %>
<h3>Vysielania</h3>
<table class="table table-condensed table-striped">
  <tr>
    <th>Pesnička</th>
	<th>Interpret</th>
	<th>Čas hrania</th>
	<th>Rádio</th>
  </tr>
<% @broadcasts.each do |br| %>
  <tr>
	<td><%= link_to br.song.name, song_link_path(br.song) %></td>
	<td><%= link_to br.song.interpret.name, interpret_link_path(br.song.interpret) %></td>
	<td><%= br.created_at.strftime("%-d. %-m. %H:%M") %></td>
	<td><%= link_to br.radio.name, radio_path(br.radio) %></td>
  </tr>
<% end %>
</table>
<% end %>

<div class="row-fluid">
<% if @interprets %>
<div class="span6">
	<h3>Interpreti</h3>
	<table class="table table-condensed table-striped">
	<% @interprets.each do |int| %>
	  <tr>
		<td><%= link_to int.name, interpret_link_path(int) %></td>
	  </tr>
	<% end %>
	</table>
</div>
<% end %>

<% if @songs %>
<div class="span6">
	<h3>Pesničky</h3>
	<table class="table table-condensed table-striped">
	<% @songs.each do |song| %>
	  <tr>
		<td><%= link_to song.name, song_link_path(song) %></td>
	  </tr>
	<% end %>
	</table>
</div>
</div>
<% end %>