<h2>O RadioStats</h2>

<h3>Čo to je</h3>
<p>Táto aplikácia zhromažduje aktuálne vysielané pesničky v klasických rádiách, v ktorých následne umožňuje vyhľadávať a zobrazovať štatistiku ich hranosti. Projekt vznikol v rámci výskumného seminára na škole.</p>

<h3>Prečo to vzniklo</h3>
<p>Prvotná myšlienka vznikla počas riadenia auta - zapáčila sa mi nejaká pesnička, ale nevedel som jej názov, TrackID alebo Shazam som použiť nemohol (v tom čase som ani nemal mobil s takou funkciou) a cez RDS sa jej názov na Slovensku neprenáša (zákon..). Jediné čo som vedel je názov rádia a približný čas hrania pesničky. To by sa dalo použiť na jej vyhľadanie, ale webové stránky rádií buď nemajú žiadnu históriu playlistu alebo len obmedzenú a nedá sa v nej hľadať. Môj problém rieši táto aplikácia a prináša na jednom mieste štastistiky hranosti pesničiek.</p>

<h3>Má to nedostatky</h3>
<p>O niektorých viem, mám v pláne aj vylepšenia. O prípadných podnetoch mi môžete napísať, ďakujem.</p>

<h3>Kto som</h3>
<p>Som Ondrej Galbavý, študent 2. ročník (máj 2012) na <a href="http://www.fiit.stuba.sk/">FIIT STU</a>. Popri škole vytváram webové stránky. Mimo webov sa okrajovo venujem programovaniu desktopovových aplikácií a elektronike.</p>

<h3>Na čom to beží</h3>
<ul>
<li><a href="http://rubyonrails.org/">Ruby on Rails</a></li>
<li><a href="http://www.mysql.com/">MySQL</a></li>
<li><a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a></li>
</ul>

<h3>Napíšte mi</h3>
<ul>
<li><a href="mailto:&#111;&#110;&#100;&#114;&#101;&#106;&#46;&#103;&#97;&#108;&#98;&#97;&#118;&#121;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">&#111;&#110;&#100;&#114;&#101;&#106;&#46;&#103;&#97;&#108;&#98;&#97;&#118;&#121;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a></li>
<li><a href="http://twitter.com/OndroNR">@OndroNR</a></li>
</ul>
