<p id="notice"><%= notice %></p>

<h2>Last 20 played songs </h2>
<table class="table table-condensed table-striped">
  <tr>
    <th>Song</th>
	<th>Interpret</th>
	<th>Time</th>
	<th>Radio</th>
  </tr>
<% @last_played.each do |br| %>
  <tr>
	<td><%= link_to br.song.name, song_link_path(br.song) %></td>
	<td><%= link_to br.song.interpret.name, interpret_link_path(br.song.interpret) %></td>
	<td><%= br.created_at.strftime("%-d. %-m. %H:%M") %></td>
	<td><%= link_to br.radio.name, radio_path(br.radio) %></td>
  </tr>
<% end %>
</table> 

<h2>Most played</h2>
<table class="table table-condensed table-striped">
  <tr>
	<th></th>
    <th>Song</th>
	<th>Interpret</th>
	<th>Times</th>
  </tr>
<% @most_played.each_with_index do |br, i| %>
  <tr>
	<td><%= i+1 %>.</td>
	<td><%= link_to br.song.name, "/song/" + br.song.id.to_s %></td>
	<td><%= link_to br.song.interpret.name, interpret_link_path(br.song.interpret) %></td>
	<td><%= br.cnt %></td>
  </tr>
<% end %>
</table>