<p id="notice"><%= notice %></p>

<h2>Najhranejšie v <%= @week %>. týždni</h2>
<table class="table table-condensed table-striped">
  <tr>
	<th></th>
    <th>Pesnička</th>
	<th>Interpret</th>
	<th>Počet hraní</th>
  </tr>
<% @most_played.each_with_index do |br, i| %>
  <tr>
	<td><%= i+1 %>.</td>
	<td><%= link_to br.song.name, "/song/" + br.song.id.to_s %></td>
	<td><%= link_to br.song.interpret.name, interpret_link_path(br.song.interpret) %></td>
	<td><%= br.cnt %></td>
  </tr>
<% end %>
</table>