<p id="notice"><%= notice %></p>

<h1><%= @song.name %> <em>od</em> <%= link_to @song.interpret.name, interpret_link_path(@song.interpret) %></h1>

<div class="row-fluid">
	<div class="span4">
	<p>
	  <%= link_to 'Vyhľadaj na YouTube', @youtube_url %>
	</p>
	<p>
	  <%= link_to 'Vyhľadaj na Grooveshark', @grooveshark_url %>
	</p>
	<p>
	  <b>Počet hraní:</b>
	  <%= @total_played %>
	</p>

	<h2>Hraná na</h2>
	<table class="table table-condensed table-striped">
	  <tr>
		<th>Rádio</th>
		<th>Počet hraní</th>
		<th></th>
	  </tr>
	<% @total_played_on_radios.each do |radio| %>
	  <tr>
		<td><%= link_to radio.radio.name, radio_path(radio.radio) %></td>
		<td><%= radio.cnt %></td>
		<td><%= (radio.cnt * 100.0 / @total_played).round(1) %>%</td>
	  </tr>
	<% end %>
	</table> 

	</div>
	<div class="span8">
		<div id="graph-week-radio"></div>
	</div>
</div>

<h2>Posledných 10 hraní</h2>
<table class="table table-condensed table-striped">
  <tr>
	<th>Čas hrania</th>
	<th>Rádio</th>
  </tr>
<% @last_played.each do |song| %>
  <tr>
	<td><%= song.created_at.strftime("%-d. %-m. %H:%M") %></td>
	<td><%= link_to song.radio.name, radio_path(song.radio) %></td>
  </tr>
<% end %>
</table> 

<script>
$(function() {
/*
(function week_total(container) {
	var i, graph;
	
	var d1 = <%=raw @week_graph.to_json %>;

    Flotr.draw(container, [d1], {
        bars: {
            show: true,
            horizontal: false,
            shadowSize: 0,
            barWidth: 1
        },
        mouse: {
            track: true,
            relative: true
        },
        yaxis: {
            min: 0,
            autoscaleMargin: 1,
        },
		xaxis: {
			label: 'Week',
			tickDecimals: 0,
		},
		title: 'Play rate per week',
    });	
})(document.getElementById("graph-week-total"));
*/

(function week_radio(container) {
	var i, graph;
	
	var d1 = <%=raw @week_radio.to_json %>;

    Flotr.draw(container, d1, {
        bars: {
            show: true,
			stacked: true,
            horizontal: false,
            shadowSize: 0,
            barWidth: 1
        },
        yaxis: {
            min: 0,
            autoscaleMargin: 1,
			tickDecimals: 0,
        },
		xaxis: {
			label: 'Week',
			tickDecimals: 0,
		},
		title: 'Počet hraní v týždňoch',
    });	
})(document.getElementById("graph-week-radio"));


});
</script>