<h1>Listing radios</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
	<th>Fancyname</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @radios.each do |radio| %>
  <tr>
    <td><%= radio.name %></td>
    <td><%= radio.url %></td>
	<td><%= radio.fancyname %></td>
    <td><%= link_to 'Show', Radio.find(radio.id) %></td>
    <td><%= link_to 'Edit', edit_radio_path(Radio.find(radio.id)) %></td>
    <td><%= link_to 'Destroy', Radio.find(radio.id), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Radio', new_radio_path %>
