<p id="notice"><%= notice %></p>

<h1><%= @radio.name %></h1>
<p><%= link_to "web", @radio.url %></p>

<h2>Posledných 10 pesničiek</h2>
<table class="table table-condensed table-striped">
  <tr>
    <th>Názov</th>
	<th>Interpret</th>
	<th>Čas hrania</th>
  </tr>
<% @songs.each do |br| %>
  <tr>
	<td><%= link_to br.song.name, song_link_path(br.song) %></td>
	<td><%= link_to br.song.interpret.name, interpret_link_path(br.song.interpret) %></td>
	<td><%= br.created_at.strftime("%-d. %-m. %H:%M") %></td>
  </tr>
<% end %>
</table>

<h2>Najhranejšie</h2>
<table class="table table-condensed table-striped">
  <tr>
	<th></th>
    <th>Pesnička</th>
	<th>Interpret</th>
	<th>Počet hraní</th>
  </tr>
<% @most_played.each_with_index do |br, i| %>
  <tr>
	<td><%= i+1 %>.</td>
	<td><%= link_to br.song.name, song_link_path(br.song) %></td>
	<td><%= link_to br.song.interpret.name, interpret_link_path(br.song.interpret) %></td>
	<td><%= br.cnt %></td>
  </tr>
<% end %>
</table> 