<p id="notice"><%= notice %></p>

<%= paginate @interprets, :window => 2, :outer_window => 2, :remote => true %>

<h2>Interpreti</h2>
<table class="table table-condensed table-striped">
  <tr>
	<th>Interpret</th>
  </tr>
<% @interprets.each do |int| %>
  <tr>
	<td><%= link_to int.name, interpret_link_path(int) %></td>
  </tr>
<% end %>
</table>

<%= paginate @interprets, :window => 2, :outer_window => 2 %>