<p id="notice"><%= notice %></p>

<h1><%= @interpret.name %></h1>



<p>
  <b>Počet hraní:</b>
  <%= @total_played %>
</p>

<h2>Hraná na</h2>
<table class="table table-condensed table-striped">
  <tr>
	<th>Rádio</th>
	<th>Počet</th>
	<th></th>
  </tr>
<% @total_played_on_radios.each do |radio| %>
  <tr>
	<td><%= link_to radio.radio.name, radio_path(radio.radio) %></td>
	<td><%= radio.cnt %></td>
	<td><%= (radio.cnt * 100.0 / @total_played).round(1) %>%</td>
  </tr>
<% end %>
</table> 

<h2>Pesničky</h2>
<table class="table table-condensed table-striped">
  <tr>
	<th>Názov</th>
	<th>Počet hraní</th>
	<th></th>
  </tr>
<% @all_songs.each do |song| %>
  <tr>
	<td><%= link_to song.name, song_link_path(song.id) %></td>
	<td><%= song.cnt %></td>
	<td><%= (song.cnt * 100.0 / @total_played).round(1) %>%</td>
  </tr>
<% end %>
</table> 


<h2>Posledných 10 hraní</h2>
<table class="table table-condensed table-striped">
  <tr>
	<th>Pesnička</th>
	<th>Čas hrania</th>
	<th>Rádio</th>
  </tr>
<% @last_played.each do |br| %>
  <tr>
	<td><%= link_to br.song.name, song_link_path(br.song) %></td>
	<td><%= br.created_at.strftime("%-d. %-m. %H:%M") %></td>
	<td><%= link_to br.radio.name, radio_path(br.radio) %></td>
  </tr>
<% end %>
</table> 