/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.navbar-inner .container {
	width: 940px !important;
}

#graph-week-radio {
	width: 100%;
	height: 300px;
}

[class^="icon-"],
[class*=" icon-"] {
  background-image: url("glyphicons-halflings.png") !important;
}
.icon-white {
  background-image: url("glyphicons-halflings-white.png") !important;
}

form li label {
	font: inherit;
	margin-bottom: 0;
}

form #q, form #time, form #week {
	width: 90%;
}

.nav-list {
	margin-bottom: 10px;
}

.nav-header{
	margin-top: 4px !important;
}


/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }