<!DOCTYPE html>
<html>
<head>
  <title>Radiostats</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render :partial => 'layouts/ga' if ['radiostats.eu', 'www.radiostats.eu', 'radiostats.galbavy.sk'].include? request.host %>
</head>
<body>

    <div class="navbar">
      <div class="navbar-inner">
	  <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Radiostats</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li<%=raw ' class="active"' if current_page?(root_url) %>><a href="/">Domov</a></li>
			  <li<%=raw ' class="active"' if current_page?(:controller => 'songs', :action => 'most_played') %>><%= link_to 'Najhranejšie', '/most_played/' %></li>
			  <li<%=raw ' class="active"' if current_page?(:controller => 'interprets', :action => 'index') %>><%= link_to 'Interpreti', :interprets %></li>
              <li<%=raw ' class="active"' if current_page?(:controller => 'home', :action => 'about') %>><a href="/about">O projekte</a></li>
            </ul>
          </div><!--/.nav-collapse -->
	  </div>
      </div>
    </div>
	
	<div class="container">
		<div class="row">
			<div class="span2">
				<%= form_tag("/search", :method => "get") do %>
				<ul class="well nav nav-list search">
					<li class="nav-header">Vyhľadávanie</li>
					<li class="nav-header"><%= label_tag(:q, "Názov:") %></li>
					<li><%= text_field_tag(:q, ActionController::Base.helpers.sanitize(params[:q])) %></li>
					<li class="nav-header">alebo</li>
					<li class="nav-header"><%= label_tag(:time, "Čas: (+- 5 minút)") %></li>
					<li><%= text_field_tag(:time, ActionController::Base.helpers.sanitize(params[:time])) %></li>
					<li><%= submit_tag("Vyhľadaj") %></li>
				</ul>
				<% end %>

				<%= form_tag("/filter", :method => "post") do %>
				<%= hidden_field_tag(:return, request.url) %>
				<ul class="well nav nav-list search">
					<li class="nav-header">Týždeň</li>
					<li><%= select_tag(:week,  options_for_select(week_values, week_value)) %></li>
					<li><%= submit_tag("Filtruj") %></li>
				</ul>
				<% end %>
				
				<ul class="well nav nav-list">
					<li class="nav-header">Rádiá</li>
					<% @all_radios.each do |radio| %>
					<li><%= link_to radio.name, radio %></li>
					<% end %>
				</ul>
			</div>
			<div class="span10" id="content">
				<%= yield %>
			</div>
		</div>
	</div>
</body>
</html>
